<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>

      <h3>
         <a href = "{{ url_for('parameters_page') }}">Comments - Flask
            SQLAlchemy example</a>
      </h3>

      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}

      <h3>Students (<a href = "{{ url_for('new_parameter') }}">Add Student
         </a>)</h3>

      <table>
         <thead>
            <tr>
               <th>Date</th>
               <th>input_frequency_data</th>
               <th>input_power_data</th>
               <th>measured_raw_power_data</th>
               <th>angle_data</th>
               <th>calculated_power_data</th>
            </tr>
         </thead>

         <tbody>
            {% for parameter in Parameters %}
               <tr>
                  <td>{{ parameter.date_data }}</td>
                  <td>{{ parameter.input_frequency_data }}</td>
                  <td>{{ parameter.input_power_data }}</td>
                  <td>{{ parameter.measured_raw_power_data }}</td>
                  <td>{{ parameter.angle_data }}</td>
                  <td>{{ parameter.calculated_power_data }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>

   </body>
</html>